Source: bg-changer
Section: misc
Priority: optional
Maintainer: ALJI Mohamed <mr.m.alji@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/OSryx/bg-changer
#Vcs-Git: git://anonscm.debian.org/collab-maint/bg-changer.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/bg-changer.git

Package: bg-changer
Architecture: all
Depends: curl, ${shlibs:Depends}, ${misc:Depends}
Description: BG Changer for Ubuntu 
 A simple shell script to set NASA Picture of the Day as Wallpaper for Ubuntu.
